@charset "UTF-8";

@font-face {
    font-family: 'Neue';
    src: url("../helvetica-neue-55-cufonfonts/HelveticaNeueUltraLight.ttf") format(truetype);
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'Neue Light';
    src: url("../helvetica-neue-55-cufonfonts/HelveticaNeueLight.ttf") format(opentype);
    font-weight: normal;
    font-size: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(../midia/fundo.jpg) center center repeat-y;
    background-size: cover;
}

span#burguer{
    color: white;
    padding: 10px;
    cursor: pointer;
    display: block;
}

menu{
    display: none;
}

menu > ul > li{
    display: inline;
}

menu > ul > li > img{
    width: 15%;
    border-radius: 100%;
    padding: 10px;
}

h1{
    font-family: 'Neue', Arial, Helvetica, sans-serif;
    font-size: 5em;
    color: #B3AE8D;
    text-align: center;
    text-shadow: 1px 2px 5px silver;
    padding: 5%;
}

main article{
    background-color: white;
    border-radius: 10px;
    text-align: justify;
    margin: 5%;
}

main article h2{
    font-family: 'Neue Light', Arial, Helvetica, sans-serif;
    padding-top: 20px;
    font-size: 2.3em;
    text-align: center;    
}

main article img{
    margin: 5% 11% 5% 11%;
    width: 80%;
}

main article p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 1.5em;
}

/*#B3AE8D*/